# FOR AND WHILE LOOPS

In [20]:
l = [1,2,3,3,4,5,6,7,8]

In [21]:
l1 = []
for i in l :
    l1.append(i+1)
    print(i+1)
l1

2
3
4
4
5
6
7
8
9

[2, 3, 4, 4, 5, 6, 7, 8, 9]

In [22]:
l

[1, 2, 3, 3, 4, 5, 6, 7, 8]

In [23]:
l = ["sudh" , "kumar" , "pwskills" , "course"]

In [24]:
l1 = []
for i in l :
    print(i)
    l1.append(i.upper())

sudh
kumar
pwskills
course

In [25]:
l1

['SUDH', 'KUMAR', 'PWSKILLS', 'COURSE']

In [7]:
l = [1,2,3,4,4,"sudh" , "kmumar" , 324,34.456,"abc"]

In [8]:
l1_num = []
l2_str = []
for i in l :
    if type(i) == int or type(i) == float :
        l1_num.append(i)
    else :
        l2_str.append(i)

In [9]:
l1_num

[1, 2, 3, 4, 4, 324, 34.456]

In [10]:
l2_str

['sudh', 'kmumar', 'abc']

In [1]:
for ak in "akshat": 
    print(ak)

a
k
s
h
a
t

In [2]:
dict1 = {'a': 'akshat', 'b': 'bhuvan', 'c': 'chandan'}
 
keys = []
values = []
for item in dict1.items():
    keys.append(item[0]), values.append(item[1])

print("keys : ", keys)
print("values : ", values)

keys :  ['a', 'b', 'c']
values :  ['akshat', 'bhuvan', 'chandan']

# Q Why and When to Use while Loop in Python give a detailed description with example

# A.

The while loop in Python is used to execute a block of code repeatedly as long as a given condition is true. The loop continues to execute until the condition becomes false.
The condition is checked at the beginning of each iteration. If the condition is true, the code inside the loop is executed. After the code is executed, the condition is checked again, and the process continues until the condition becomes false.

In [4]:
count = 1
while count <= 10:
    print(count)
    count += 1

1
2
3
4
5
6
7
8
9
10

 # Check how many times a given number can be divided by 3 before it is less than or equal to 10.

In [5]:
# Ans.4)
def divide_by_3(number):
    count = 0
    while number > 10:
        number = number / 3
        count += 1
    return count

number = int(input("Enter a number: "))
count = divide_by_3(number)
print("The number can be divided by 3", count, "times before it is less than or equal to 10.")

Enter a number: 5
The number can be divided by 3 0 times before it is less than or equal to 10.

# Q Use nested while loop to print 3 different pattern.

In [6]:
# Ans.6) 
# Pyramid pattern:
rows = int(input("Enter number of rows: "))

for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print("*", end="")
    print("")

Enter number of rows: 10
*
**
***
****
*****
******
*******
********
*********
**********

In [9]:
# part of Q6
# Ans.6)
# Reverse pyramid pattern:
rows = int(input("Enter number of rows: "))

for i in range(rows, 0, -1):
    for j in range(i):
        print("*", end="")
    print("")

Enter number of rows: 8
********
*******
******
*****
****
***
**
*

In [10]:
# part of Q6
# Ans.6)
# Diamond pattern:
rows = int(input("Enter number of rows: "))

for i in range(1, rows + 1):
    for j in range(1, rows - i + 1):
        print(" ", end="")
    for k in range(1, 2 * i):
        print("*", end="")
    print("")

for i in range(rows - 1, 0, -1):
    for j in range(1, rows - i + 1):
        print(" ", end="")
    for k in range(1, 2 * i):
        print("*", end="")
    print("")

Enter number of rows: 10
         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************
 *****************
  ***************
   *************
    ***********
     *********
      *******
       *****
        ***
         *

# Q.7 Reverse a while loop to display numbers from 10 to 1.

In [11]:
# Ans7)
count = 10

while count >= 1:
    print(count)
    count -= 1

10
9
8
7
6
5
4
3
2
1

# Q1.  Explain with an example each when to use a for loop and a while loop.

# Ans.1) 
# for loop
# A for loop is used when you have a known number of iterations to perform, such as looping through a list or a range of numbers. An example of using a for loop would be to print out the numbers from 0 to 9:

In [12]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

# Ans.1) 
# while loop
# A while loop is used when you want to keep looping as long as a certain condition is met. An example of using a while loop would be to keep asking for input until the user types "quit":

In [13]:
user_input = ""
while user_input != "quit":
    user_input = input("Enter a message: ")
    print("You entered:", user_input)

Enter a message: 5
You entered: 5
Enter a message: 6
You entered: 6
Enter a message: i avoid distractions whle learning data science
You entered: i avoid distractions whle learning data science
Enter a message: quit
You entered: quit

In [14]:
# Q.2 Write a python program to print the sum and product of the first 10 natural numbers using for  and while loop. 
# for loop
sum = 0
product = 1
for i in range(1, 11):
    sum += i
    product *= i

print("The sum of the first 10 natural numbers is:", sum)
print("The product of the first 10 natural numbers is:", product)

The sum of the first 10 natural numbers is: 55
The product of the first 10 natural numbers is: 3628800

In [15]:
# part of Q.2
# while loop
sum = 0
product = 1
i = 1
while i <= 10:
    sum += i
    product *= i
    i += 1

print("The sum of the first 10 natural numbers is:", sum)
print("The product of the first 10 natural numbers is:", product)

The sum of the first 10 natural numbers is: 55
The product of the first 10 natural numbers is: 3628800

# Q.4 Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each  number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print  that list.

In [16]:
numbers = []
for i in range(1, 101):
    cube = i**3
    if cube % 4 == 0 or cube % 5 == 0:
        numbers.append(i)
print(numbers)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [17]:
numbers = []
i = 1
while i <= 100:
    cube = i**3
    if cube % 4 == 0 or cube % 5 == 0:
        numbers.append(i)
    i += 1
print(numbers)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

# Q5.  Write a program to filter count vowels in the below-given string. string = "I want to become a data scientist"

In [18]:
string = "I want to become a data scientist"
vowels = "aeiouAEIOU"
vowel_count = 0
for char in string:
    if char in vowels:
        vowel_count += 1
print("Number of vowels in the string:", vowel_count)

Number of vowels in the string: 12

In [26]:
l1

['SUDH', 'KUMAR', 'PWSKILLS', 'COURSE']

In [27]:
for i in l1 :
    print(i)

SUDH
KUMAR
PWSKILLS
COURSE

In [28]:
for i in l1 : 
    print(i)
else :
    print("if for loop is able to complete itself then only else will execute")

SUDH
KUMAR
PWSKILLS
COURSE
if for loop is able to complete itself then only else will execute

In [30]:
l2 = ["sudh" ,"kumar" , "krish" ,"naik"]

In [31]:
for i in l2:
    if i == "kumar":
        break
    print(i)

sudh

In [32]:
l2

['sudh', 'kumar', 'krish', 'naik']

In [33]:
for i in l2 : 
    if i == "kumar":
        continue
    print(i)

sudh
krish
naik

In [34]:
for i in l2 : 
    if i == "kumar":
        continue
    print(i)
else :
    print("execute this if for loop is able to complete itself")

sudh
krish
naik
execute this if for loop is able to complete itself

In [36]:
l2

['sudh', 'kumar', 'krish', 'naik']

In [37]:
len(l1)

4

In [38]:
list(range(len(l1)))

[0, 1, 2, 3]

In [40]:
for i in range(len(l2)):
    print(l2[i])

sudh
kumar
krish
naik

In [41]:
list(range(len(l2)-1,-1,-1))

[3, 2, 1, 0]

In [42]:
l2

['sudh', 'kumar', 'krish', 'naik']

In [43]:
for i in range(len(l2)-1,-1,-1):
    print(l2[i])

naik
krish
kumar
sudh

In [45]:
for i in [3, 2, 1, 0]:
    print(l2[i])

naik
krish
kumar
sudh

In [46]:
l3 = [23,5,45,56,6,67,67,78,87,8998,9,9,8]

In [48]:
list(range(0 ,len(l3) , 2))

[0, 2, 4, 6, 8, 10, 12]

In [49]:
for i in range(0 ,len(l3) , 2) : 
    print(l3[i])

23
45
6
67
87
9
8

In [56]:
x = [1,2,3,4,7,8,98]

In [57]:
sum(x)

TypeError: 'int' object is not callable

In [58]:
result = 0
for i in l :
    result = result+ i 
result

123

In [59]:
t = (1,2,3,4,4,5)

In [60]:
for i in t:
    print(i)

1
2
3
4
4
5

In [61]:
result = 0
for i in t :
    result = result+ i 
result

19

In [62]:
s = {1,2,3,4,5 ,"sudh" , "pwskills"}

In [63]:
for i in s :
    print(i)

1
2
3
4
5
sudh
pwskills

In [64]:
s1 = "pwskills"

In [65]:
for i in s1 :
    print(i)

p
w
s
k
i
l
l
s

In [66]:
d = {"name" : "sudh" , "class" : "data scieince masters" ,
     "topic" : ["python","stats","machine learning","DL","CV" ,"NLP","resume","interview"]}

In [67]:
d

{'name': 'sudh',
 'class': 'data scieince masters',
 'topic': ['python',
  'stats',
  'machine learning',
  'DL',
  'CV',
  'NLP',
  'resume',
  'interview']}

In [68]:
d['name']

'sudh'

In [69]:
d.keys()

dict_keys(['name', 'class', 'topic'])

In [70]:
for i in d.keys():
    print(d[i])

sudh
data scieince masters
['python', 'stats', 'machine learning', 'DL', 'CV', 'NLP', 'resume', 'interview']

In [71]:
d.values()

dict_values(['sudh', 'data scieince masters', ['python', 'stats', 'machine learning', 'DL', 'CV', 'NLP', 'resume', 'interview']])

In [72]:
for i in d.values():
    print(i)

sudh
data scieince masters
['python', 'stats', 'machine learning', 'DL', 'CV', 'NLP', 'resume', 'interview']

In [73]:
d.items()

dict_items([('name', 'sudh'), ('class', 'data scieince masters'), ('topic', ['python', 'stats', 'machine learning', 'DL', 'CV', 'NLP', 'resume', 'interview'])])

In [74]:
for i in d.items():
    print(i)

('name', 'sudh')
('class', 'data scieince masters')
('topic', ['python', 'stats', 'machine learning', 'DL', 'CV', 'NLP', 'resume', 'interview'])

# Which keyword is used to create a function? Create a function to return a list of odd numbers in the  range of 1 to 25.

In [75]:
def odd_numbers(n):
    odd_list = []
    for i in range(1, n+1):
        if i % 2 != 0:
            odd_list.append(i)
    return odd_list

print(odd_numbers(25))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25]

# Why *args and **kwargs is used in some functions? Create a function each for *args and **kwargs  to demonstrate their use.

In [76]:
def print_args(*args):
    print("Arguments passed:", args)

print_args(1, 2, 3, 4)

Arguments passed: (1, 2, 3, 4)

In [78]:
def print_kwargs(**kwargs):
    print("Keyword arguments:", kwargs)

print_kwargs(a=1, b=2, c=3)

Keyword arguments: {'a': 1, 'b': 2, 'c': 3}

# What is an iterator in python? Name the method used to initialise the iterator object and the method  used for iteration. Use these methods to print the first five elements of the given list [2, 4, 6, 8, 10, 12, 14,  16, 18, 20].
An iterator in Python is an object that implements two methods, the __iter__() method that initializes the iterator, and the __next__() method that is used to get the next value from the iterator. To print the first five elements of the list [2, 4, 6, 8, 10, 12, 14, 16, 18, 20], you can create an iterator object from the list and use a for loop to iterate over the first five values:

In [79]:
list_ = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
iterator = iter(list_)

for i in range(5):
    print(next(iterator))
list_ = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
iterator = iter(list_)

for i in range(5):
    print(next(iterator))

2
4
6
8
10
2
4
6
8
10

# What is a generator function in python? Why yield keyword is used? Give an example of a generator  function. 
# A generator function in Python is a special type of function that returns a generator iterator. It is defined like a normal function, but instead of using a return statement, it uses the yield keyword. The yield keyword is used to return a value from the function and pause its execution, allowing the function to be resumed later, from where it left off, when the next value is requested.

In [80]:
def fibonacci(n):
    a, b = 0, 1
    for i in range(n):
        yield a
        a, b = b, a + b

for number in fibonacci(10):
    print(number)

0
1
1
2
3
5
8
13
21
34

# Create a generator function for prime numbers less than 1000. Use the next() method to print the  first 20 prime numbers.

In [81]:
def prime_numbers():
    yield 2
    primes = [2]
    candidate = 3
    while candidate < 1000:
        is_prime = True
        for prime in primes:
            if candidate % prime == 0:
                is_prime = False
                break
        if is_prime:
            primes.append(candidate)
            yield candidate
        candidate += 2

prime_gen = prime_numbers()
for i in range(20):
    print(next(prime_gen))

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71

# Write a python program to print the first 10 Fibonacci numbers using a while loop.

In [82]:
a, b = 0, 1
i = 0

while i < 10:
    print(a)
    a, b = b, a + b
    i += 1

0
1
1
2
3
5
8
13
21
34

# Write a python program to check whether a given number is Palindrome or not using a while loop.

In [83]:
number = 12321
temp = number
reverse = 0

while temp > 0:
    digit = temp % 10
    reverse = reverse * 10 + digit
    temp //= 10

if number == reverse:
    print(f"{number} is a palindrome.")
else:
    print(f"{number} is not a palindrome.")

12321 is a palindrome.

In [84]:
a= 1 

while a <= 10 :  
    print(a)
    a = a +1

1
2
3
4
5
6
7
8
9
10

In [86]:
n = int(input("enter your limit "))
starting_point = 0 
counter = 1

while counter <= n:
    starting_point = starting_point + counter
    counter = counter + 1
starting_point

enter your limit 5

15

In [87]:
number = int(input("enter your number"))
factorial = 1 
while number > 0 :
    factorial = factorial*number
    number = number-1
factorial

enter your number5

120

# Finonacci series

In [89]:
number = int(input("enter the number of element you are looking for "))
a , b  = 0 , 1 
counter = 0 
while counter < number : 
    print(a)
    c = a+ b
    a = b 
    b = c 
    counter= counter+ 1

enter the number of element you are looking for 10
0
1
1
2
3
5
8
13
21
34

In [90]:
a , b  = 0 , 1 

for i in range(10) : 
    print(a)
    c = a+ b
    a = b 
    b = c

0
1
1
2
3
5
8
13
21
34

In [1]:
s = "sudh"

In [2]:
s[::-1]

'hdus'

In [3]:
len(s)

4

In [5]:
word = input("enter your string for reversal ")

enter your string for reversal sudh

In [6]:
reverse = ""
length = len(word)
while length > 0 :
    reverse = reverse + word[length -1]
    length = length -1
print(reverse)

hdus

# print table of numbers

In [7]:
n = int(input("enter your number"))
i = 1 

while i <= 20  : 
    result = n *i
    print(n ,"* " , i ,"=" ,result)
    i= i+1

enter your number2
2 *  1 = 2
2 *  2 = 4
2 *  3 = 6
2 *  4 = 8
2 *  5 = 10
2 *  6 = 12
2 *  7 = 14
2 *  8 = 16
2 *  9 = 18
2 *  10 = 20
2 *  11 = 22
2 *  12 = 24
2 *  13 = 26
2 *  14 = 28
2 *  15 = 30
2 *  16 = 32
2 *  17 = 34
2 *  18 = 36
2 *  19 = 38
2 *  20 = 40

In [8]:
n = 5 
i = 1
while i < n :
    print(i)
    i = i+ 1
else :
    print("this will be executed once your while will complete it succesfully")

1
2
3
4
this will be executed once your while will complete it succesfully

In [9]:
n = 5 
i = 1
while i < n :
    print(i)
    if i == 3 :
        break
    i = i+ 1
else :
    print("this will be executed once your while will complete it succesfully")

1
2
3